form(role='form' ng-hide="showJobEditor")
  .panel.panel-primary
    .panel-body
      .row
        .col-xs-12
          .input-group
            .input-group-addon $
            input.form-control(type='text' placeholder='rake do_something' id='command' value='{{ job.command }}' readonly)
      hr
      .row
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='dyno_size') Dyno Size
            p.form-control-static= '{{ job.dyno_size_label() }}'
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='frequency') Frequency
            p.form-control-static= '{{ job.frequency_label() }}'
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='last_run') Last run
            p.form-control-static= '{{ job.last_run_date() }}'
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='next_due') Next due
            p.form-control-static= '{{ job.next_due_date() }}'
    .panel-footer
      .row
        .col-xs-12
          button.btn.btn-primary(ng-click="showJobEditor=!showJobEditor") Edit
          button.btn.btn-link(aria-label='remove' ng-click='removeJob()' ng-confirm-click="Are you sure you want to remove this job?") Remove

form(role='form' name="editJobForm" ng-submit='edit(editJobForm.$valid)' ng-show="showJobEditor" novalidate)
  .panel.panel-primary
    .panel-body
      .row
        .col-xs-12
          .form-group(ng-class="{'has-error': editJobForm.command.$invalid}")
            .input-group
              .input-group-addon $
              input.form-control(type='text' placeholder='rake do_something' id='command' ng-model='job.command' required)
            p.help-block(ng-show="editJobForm.command.$invalid && !editJobForm.command.$pristine") cannot be blank

      hr
      .row
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='dyno_size') Dyno Size
            select.form-control(id='dyno_size' ng-model='job.dyno_size' ng-options='s.value as s.label for s in dyno_sizes')
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='frequency') Frequency
            select.form-control(id='frequency' ng-model='job.frequency' ng-options='f.value as f.label for f in frequencies')
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='last_run') Last run
            p.form-control-static= '{{ job.last_run_date() }}'
        .col-md-3.col-sm-3.col-xs-6
          .form-group
            label.text-uppercase(for='next_due') Next due
            p.form-control-static= '{{ job.next_due_date() }}'
    .panel-footer
      .row
        .col-xs-12
          input.btn.btn-primary(type='submit' value='Save' ng-disabled="editJobForm.$invalid")
          button.btn.btn-link(ng-click="showJobEditor=!showJobEditor") Cancel